.site-footer {
  background-color: $secondary-text-color;
}

.footer-widget-area {
  @include outer-container;
  color: #fff;
  font-family: $secondary-font;
  font-size: 1.125em;
  padding: 65px 0;

  a {
    font-family: $primary-font;
  }

  @for $i from 1 through 5 {
    &.columns-#{$i} .footer-widget {
      @include span-columns( 4 of ( $i * 4 ) );
    }
  }

  .footer-widget .widget {
    margin: 0 0 $base-spacing;
    &:last-child {
      margin: 0;
    }
  }

  .widget-title {
    color: #fff;
    font-family: $secondary-font;
    font-size: 1.333em;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.site-info {
  @include outer-container;

  @include media($large-screen) {
    .site-info-text {
      @include span-columns(9);
    }
    .social-menu {
      @include span-columns(3);
    }
  }
}
