.hero {
  background: url('beer.jpg') no-repeat;
  background-size: cover;
  color: $background-color;
  font-size: 1.125em;
  margin-top: -100px;
  min-height: 400px;
  width: 100%;
  padding-top: 100px;

  h1 {
    font-size: 5.722em;
    margin: 0;
  }

  .button {
    font-size: 1.333em;
  }

}
