.hero {
  color: $background-color;
  margin-top: -100px;
  min-height: 300px;
  width: 100%;
  padding-top: 100px;

  .container {
    max-width: 75%;
    padding: 6% 0;

    @media screen and (max-width: 900px) {
      max-width: none;
      padding: 9% 1.5em;
    }
  }

  .page-title {
    margin-bottom: 0;
  }

  .widget {
    margin-bottom: 1em;
    font-size: 2em;
    font-weight: 300;

    &::last-child {
      margin-bottom: 0;
    }

    @media screen and (max-width: 900px) {
      font-size: 1.5em;
    }

    ul, ol {
      padding-left: 0;

      li {
        list-style: none;
      }
    }

    input, select, textarea {
      color: $base-font-color;
    }
  }

  label, input, select, textarea {
    display: inline;
    width: auto;
  }
}
