.hentry {
  margin: 0 0 $base-spacing * 2.5;
}

.single .hentry   {
  margin: 0;
}

.entry-title {
  margin: 0 0 .375em;
}

.entry-meta,
.entry-footer,
.nav-links {
  font-family: $secondary-font;
  margin: 0 0 $base-spacing;
  text-transform: uppercase;
}

.nav-links {
  @include clearfix;

  .nav-previous {
    float: left;
  }
  .nav-next {
    float: right;
  }
}
