.widget-area {
  .widget {
    margin: 0 0 $base-spacing;

    .widget-title {
      font-family: $secondary-font;
      font-size: 1.6em;
      font-weight: 700;
      text-transform: uppercase;
    }

    &:last-child {
      margin: 0;
    }
  }
}
