.site-header.video-header {

	+.hero {
		overflow: hidden;
		position: relative;
		background-color: #000;
		color: #000;

		aside {
			position: relative;
		}

		#wp-custom-header {
			position: absolute;
			height: 100vh;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
		}

		#wp-custom-header-video-button {
			position: absolute;
			bottom: 0.5em;
			right: 1em;
			opacity: 0.5;

			@media #{$medium-down} {
				display: none;
			}
		}

		iframe#wp-custom-header-video {
			height: 100%;
			max-width: 100%;
		}
	}
}
