// Fonts
$primary-font:   "Lato";
$secondary-font: "Oswald";

// Colors
$header-textcolor:      #252f31;
$background-color:      #ffffff;
$menu-background-color: #ffffff;
$tagline-text-color:    #404c4e;
$link-color:            #e3ae30;
$main-text-color:       #252f31;
$secondary-text-color:  #404c4e;
