// Fonts
$primary-font:              "Oswold";
$secondary-font:            "Lato";
$font-stack-system: "Oswold";

// Colors
$header-textcolor:          #1a1a1a;
$background-color:          #262626;
$menu-background-color:     #589ef2;
$tagline-text-color:        #1a1a1a;
$link-color:                #e3ae30;
$main-text-color:           #252f31;
$secondary-text-color:      #c1c1c1;
