// Breakpoints
$medium-screen: 600px;
$large-screen: 900px;

// Media Queries
$small-only: "only screen and (max-width: #{$medium-screen})";
$medium-up: "only screen and (min-width: #{$medium-screen})";
$medium-down: "only screen and (max-width: #{$large-screen})";
$medium-only: "only screen and (min-width: #{$medium-screen}) and (max-width: #{$large-screen})";
$large-up: "only screen and (min-width: #{$large-screen})";

// Typography
$base-font-family: $primary-font;
$heading-font-family: $secondary-font;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Font Colors
$base-font-color: $main-text-color;
$action-color: $link-color;

// Border
$base-border-color: $secondary-text-color;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #e3eaeb;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
