html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

#content {
  @include outer-container;

  #primary {
    @include span-columns(9);
  }

  #secondary {
    @include span-columns(3);
  }
}
