html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

.container {
  @include outer-container;
}

#content {
  @include outer-container;
  font-size: 1.25em;
  padding: $base-spacing 0;

  @include media($large-screen) {

    #primary {
      @include span-columns(9);
    }

    #secondary {
      @include span-columns(3);
    }

  }
}
