body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $secondary-text-color;
  font-family: $heading-font-family;
  font-size: modular-scale(1);
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

h1 {
  font-size: 3em;
}
h2 {
  font-size: 1.8em;
}

h3,
h4 {
  font-size: 1.2em;
}

h4,
h5,
h6 {
  font-family: $primary-font;
}

h4 {
  font-weight: 300;
}

h5 {
  font-size: 1.1em;
}

h6 {
  font-size: 1em;
}

p {
  margin: 0 0 $small-spacing;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: shade($action-color, 25%);
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

address {
  margin: 0 0 $small-spacing;
}

code,
pre {
  background: $base-background-color;
  border: 1px solid $base-border-color;
  border-radius: $base-border-radius;
}

code {
  padding: 5px;
}

pre {
  padding: 1em;
}

blockquote {
  font-size: em(24);
  font-style: italic;
  font-weight: 300;

  cite {
    display: inline-block;
    font-size: em(12);
    font-style: normal;
    font-weight:700;
  }
}
