// WordPress Generated Classes
// http://codex.wordpress.org/CSS#WordPress_Generated_Classes

// Media alignment
.alignnone {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  height: auto;
}
.aligncenter {
  display: block;
  margin: 0 auto $small-spacing auto;
  height: auto;
}
.alignleft,
.alignright {
  margin-bottom: $small-spacing;
  height: auto;
}
@include media($large-screen) {
  // Only float if not on an extra small device
  .alignleft {
    float: left;
    margin-right: $small-spacing
  }
  .alignright {
    float: right;
    margin-left: $small-spacing;
  }
}

// Captions
.wp-caption {
  display: block;
  padding: $small-spacing;
  margin-bottom: $small-spacing;
  line-height: $base-line-height;
  background-color: $base-background-color;
  border: $base-border;
  border-radius: $base-border-radius;

  > img,
  a > img {
    margin-left: auto;
    margin-right: auto;
  }
}

.wp-caption-text {
  font-size: .75em;
}

// Gallery
.gallery {
  @include row;

  @include media($large-screen) {
    @for $i from 1 through 9 {
      &.gallery-columns-#{$i} .gallery-item {
        @include span-columns(4 of ($i * 4));
        @include omega(#{$i}n);

        &:nth-child(#{$i}n+1) { clear: both; }
      }
    }
  }

  .gallery-caption {
    @extend .wp-caption-text;
  }

  .gallery-item {
    img, picture {
      margin: 0;
    }
    a {
      display: block;
    }
  }

}

// Sticky
.sticky {
  background-color: rgba($secondary-text-color, 0.05);
  border: 2px solid rgba($secondary-text-color, 0.25);
  padding: $base-spacing;

  .entry-footer {
    margin-bottom: 0;
  }
}

// Text meant only for screen readers
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  background-color: $base-background-color;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: $action-color;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}
