// WordPress Generated Classes
// http://codex.wordpress.org/CSS#WordPress_Generated_Classes

.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  @include center-block;
}

.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;

  img[class*="wp-image-"] {
    @include center-block;
  }

  .wp-caption-text {
    margin: 0.8075em 0;
  }
}

.wp-caption-text {
  text-align: center;
}

.wp-caption-text {
  font-size: .75em;
  text-align: center;
}

.gallery {
  margin-bottom: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;

  .gallery-columns-2 & {
    max-width: 50%;
  }

  .gallery-columns-3 & {
    max-width: 33.33%;
  }

  .gallery-columns-4 & {
    max-width: 25%;
  }

  .gallery-columns-5 & {
    max-width: 20%;
  }

  .gallery-columns-6 & {
    max-width: 16.66%;
  }

  .gallery-columns-7 & {
    max-width: 14.28%;
  }

  .gallery-columns-8 & {
    max-width: 12.5%;
  }

  .gallery-columns-9 & {
    max-width: 11.11%;
  }
}

.gallery-caption {
  display: block;
}

// Sticky
.sticky {
  background-color: rgba($secondary-text-color, 0.05);
  border: 2px solid rgba($secondary-text-color, 0.25);
  padding: $base-spacing;

  .entry-footer {
    margin-bottom: 0;
  }
}

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;

  &:focus {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    @include font-size(0.875);
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
  }
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}
